.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  max-width: 1080px;
}

.logo_text {
  font-family: sans-serif;
  color: #fff;
  font-size: 2.5rem;
}

.logo_text_emphasis {
  color: rgb(0, 174, 255);
}


.logo_link {
  text-decoration: none;
}
